@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');;

body,
h3,
h2{
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #cbd5e1;
}

h1 {
    text-align: center;
}

.container {
    margin: 7rem; 
    display: flex;
    gap: 4rem;
    align-items: flex-start;
    justify-content: space-around;
}

.alert-dialog-box {
    background-color: #fff;
    display: inline-block;
    border-radius: 0.35rem;
    padding: 0.3rem;
}

.heading{
    padding: 1rem 5rem 1rem 1rem;
}


.dialog-content {
    padding: 1rem 6rem 1rem 1rem;
}

h2 {
    margin: 0
}

.action-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;
}

.action-btn:nth-child(3){
    border-top: 1px solid #d1d5db;
}

.btn {
    border: none;
    background-color: transparent;
    color: #4f46e5;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 0.5rem;
}

.btn:hover{
    cursor: pointer;
}

.btn:hover {
    background-color: #eef2ff;
}

.ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

img {
    width: 40px;
    height: 40px;
}

.list-item {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 1rem;
}

.list-item:hover {
    background-color: #f3f4f6;
    cursor: pointer;
}

.items .list-item:hover{
    background-color: transparent;
    cursor: unset;
}

.radio-btn:hover{
    cursor: pointer;
}

.items {
    height: 140px;
}

.radio-btn {
    width: 20px;
    height: 20px;
}

.conf-heading{
    border-bottom: 1px solid #d1d5db;
    padding: 1rem 5rem 1rem 1rem;
}

.items ul {
    height: 100%;
    overflow-y: auto;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline-block;
    padding: 0.5rem 0.5rem;
}

.footer {
    background-color: #eff6ff;
    padding: 2rem;
    text-align: center;
    border-top-right-radius: 5rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer .link {
    color: black;
}

.footer ul {
    padding-inline-start: 0px;
}